@import './variables.scss';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
.logo {
  border-right: 1px solid $light-grey;
  width: 241px;
  height: 69px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.medium_part {
  width: 847px;
  height: 69px;
}
header div:nth-child(3) {
  padding-left: 20px;
  position: relative;
}
.icon {
  margin-left: 10px;
}
.five {
  left: 36px;
  position: absolute;
  top: -6px;
}
