@import './variables.scss';
body,
html {
  height: 100%;
  margin: 0;
}

.tablink {
  background-color: $white;
  color: $dark;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  margin-top: 47px;
  margin-left: 10px;
  width: 25%;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  &:hover {
    background-color: $shadow;
  }
}

.tabcontent {
  color: $white;
  display: none;
  margin: 0px 10px;
  padding: 5px 15px;
  height: 100%;
  background-color: $shadow;
}
.pagination {
  margin-top: 24px;
  margin-bottom: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: $shadow;
}

.pagination a {
  color: $dark;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  background-color: $white;
  border: 1px solid $shadow;
}

.pagination a.active {
  background-color: $white;
  color: $light-green;
}

.pagination a:hover:not(.active) {
  background-color: $white;
}
main {
  background: $white;
}
@media (min-width: 320px) and (max-width: 575px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .pagination {
    width: 37%;
  }
  .pagination a {
    padding: 2px 2px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .pagination {
    width: 45%;
  }
  .pagination a {
    padding: 7px 7px;
  }
}
@media (min-width: 768px) and (max-width: 998px) {
  .pagination {
    width: 40%;
  }
  .pagination a {
    padding: 4px 4px;
  }
}
@media (min-width: 999px) and (max-width: 1199px) {
  .pagination {
    width: 45%;
  }
  .pagination a {
    padding: 8px 12px;
  }
}
