$light-grey: #f2f2f2;
$shadow: #e5e5e5;
$background-color: #f8f8f8;
$medium-grey: #999999;
$dark-grey: #717171;
$text-grey: #bebebe;
$dark: #1a1a1a;
$blue: #0091d9;
$dark-blue: #4cb8bf;
$white: #ffffff;
$green: #2cbe60;
$light-green: #30bf60;
$red: #d0021b;
$yellow: #f79e1b;
$hover: #f3fbff;
